<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <!-- Database connection -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">server=primary.notetaker-project--x586bq25sbtw.addon.code.run:27536;database=myhiber</property>
        <property name="connection.username">7ea6cfd31101ec75</property>
        <property name="connection.password">47347cff65d1876e85d4f8053e1afa</property>
        
        <!-- Select dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- this is add to create a automatic table -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- this is for in the execution we want to see sql Query -->
        <property name="show_sql">true</property>
        
        <!-- For better understand sql query -->
        <property name="format_sql">true</property>
        
        <!-- Mapping class  -->
        <mapping class = "com.entities.NoteTaker"/>
        
       
        
        
    </session-factory>
</hibernate-configuration>